{% extends 'base.html' %}

{% block titulo %}Pagamento | {% endblock %}

{% load omfilters %}
{% load static %}

{% block conteudo %}
<div class="row">
    <div class="col">
        <h3>Escolha o método de pagamento</h3>
        <form>
            <label for="card-number">Número do cartão:</label>
            <input type="text" id="card-number" name="card-number" maxlength="16" required>
            <label for="card-expiry">Data de validade:</label>
            <input type="text" id="card-expiry" name="card-expiry" maxlength="5" placeholder="MM/AA" required>
            <label for="card-name">Nome do titular:</label>
            <input type="text" id="card-name" name="card-name" required>
            <label for="card-cvc">Código de segurança:</label>
            <input type="text" id="card-cvc" name="card-cvc" maxlength="4" required>
            <input type="submit" value="Pagar">
          </form>
    </div>
</div>

{% include 'parciais/_pedido.html' %}

<div class="row mt-4">
    <div class="col">
        <a href="#" class="btn btn-primary btn-block btn-lg">Pagar</a>
    </div>
</div>


{% endblock %}